# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Az\SOFTUNI\SoftUni-Homework\SoftUni-Homework-Sync\Softuni-JS_Apps-ExamPrep\Exam prep 2\CarTube\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
